{% raw -%}
{% extends 'base.html' %}
{% load static %}
{% load myfilters %}
{% block head_title %}Reset Password with Token{% endblock %}

{% block content %}
<div class="columns is-centered">
  <div class="column is-half has-text-centered">
    {% if token_fail %}
      <div class="message is-danger">
        <div class="message-header"></div>

        <div class="message-body">
          <i class="fa fa-3x fa-exclamation-triangle icon margin-all--s"></i>
          <h1 class="title is-4">This password reset link is invalid.</h1>
          <p>
            This is possibly because it has already been used.
            Please request a <a href="{% url 'password_reset' %}">new password reset.</a>
          </p>
        </div>
      </div>

      {% else %}
      {% if form %}

      <form class="form message is-large auth-templates" method="post" action="{{ action_url }}" novalidate>
        {% csrf_token %}
        <div class="message-header"></div>

        <div class="message-body">
          <h1 class="title is-5">Create a new password</h1>

          <div class="field {% if form.password1.errors %}no-margins{% endif %}">
            <p class="control has-icons-left">
              {{ form.password1|addclass:'input is-medium' }}
              <span class="icon is-small is-left">
                <i class="fa fa-asterisk font-size--xxxs has-text-danger"></i>
              </span>
            </p>
          </div>

          {% if form.password1.errors %}
            <p class="has-text-centered margin-top--smallest-rem margin-bottom--xs has-text-danger font-size--xxs">
              {{ form.password1.errors|striptags }}
            </p>
          {% endif %}

          <div class="field {% if form.password2.errors %}no-margins{% endif %}">
            <p class="control has-icons-left">
              {{ form.password2|addclass:'input is-medium' }}
              <span class="icon is-small is-left">
                <i class="fa fa-asterisk font-size--xxxs has-text-danger"></i>
              </span>
            </p>
          </div>

          {% if form.password2.errors %}
            <p class="has-text-centered margin-top--smallest-rem margin-bottom--xs has-text-danger font-size--xxs">
              {{ form.password2.errors|striptags }}
            </p>
          {% endif %}

          <button class="is-primary button" type="submit" name="action">Change Password</button>
        </div>
      </form>

      {% else %}
        <p>Your password is now changed.</p>
      {% endif %}
    {% endif %}
  </div>
</div>
{% endblock %}
{% endraw %}