{% raw -%}
{% extends "base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
  <section class="columns is-centered">
    <div class="column is-8">
      <article class="message has-text-centered is-success">
        <div class="message-header"></div>

        <div class="message-body">
          <i class="fa fa-4x fa-check-circle has-text-success icon margin-all--s"></i>

          <h1 class="title is-4">{% trans "Change Password" %}</h1>
          <p>{% trans 'Your password is now changed.' %}</p>
          </div>
        </article>
    </div>
  </section>

    <h1></h1>

{% endblock %}
{% endraw %}