{% raw -%}
{% extends "base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
  <section class="columns is-centered">
    <div class="column is-8">
      <article class="message has-text-centered is-info">
        <div class="message-header"></div>

        <div class="message-body">
          <i class="fa fa-3x fa-info-circle icon margin-all--s"></i>

           <h1 class="title is-4">{% trans "Password Reset" %}</h1>

            {% if user.is_authenticated %}
              {% include "account/snippets/already_logged_in.html" %}
            {% endif %}
            <small>{% blocktrans %}We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.{% endblocktrans %}</small>
          </div>
        </article>
    </div>
  </section>
{% endblock %}
{% endraw %}