{% raw -%}
{% extends 'base.html' %}
{% load static %}
{% load myfilters %}
{% block head_title %}Change Password{% endblock %}

{% block content %}
<div class="columns is-centered">
  <div class="column is-half has-text-centered">
    <form class="form message is-large auth-templates" method="post"  action="{% url 'account_change_password' %}" novalidate>
      {% csrf_token %}
      <div class="message-header"></div>

      <div class="message-body">
        <h1 class="title is-5">Change your password</h1>

        <div class="field {% if form.oldpassword.errors %}no-margins{% endif %}">
          <p class="control has-icons-left">
            {{ form.oldpassword|addclass:'input is-medium' }}
            <span class="icon is-small is-left">
              <i class="fa fa-asterisk font-size--xxxs has-text-danger"></i>
            </span>
          </p>
        </div>

        {% if form.oldpassword.errors %}
          <p class="has-text-centered margin-top--smallest-rem margin-bottom--xs has-text-danger font-size--xxs">
            {{ form.oldpassword.errors|striptags }}
          </p>
        {% endif %}

        <div class="field is-horizontal">
          <div class="field-body">
            <div class="field">
              <p class="control has-icons-left">
                {{ form.password1|addclass:'input is-medium' }}
                <span class="icon is-small is-left">
                  <i class="fa fa-asterisk font-size--xxxs has-text-danger"></i>
                </span>
              </p>
              {% if form.password2.errors %}
                <p class="has-text-centered margin-top--smallest-rem margin-bottom--xs has-text-danger font-size--xxs">
                  {{ form.password2.errors|striptags }}
                </p>
              {% endif %}
            </div>

            <div class="field">
              <p class="control has-icons-left">
                {{ form.password2|addclass:'input is-medium' }}
                <span class="icon is-small is-left">
                  <i class="fa fa-asterisk font-size--xxxs has-text-danger"></i>
                </span>
              </p>
              {% if form.password2.errors %}
                <p class="has-text-centered margin-top--smallest-rem margin-bottom--xs has-text-danger font-size--xxs">
                  {{ form.password2.errors|striptags }}
                </p>
              {% endif %}
            </div>
          </div>
        </div>

        <button class="is-primary button" type="submit" name="action">Change Password</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}
{% endraw %}