{% raw -%}
{% extends 'base.html' %}
{% load static %}
{% block content_wrapper %}{% endblock %}

{% block content_full_width %}
<div class="hero is-primary is-bold homepage-is-generic">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-8 content">
          <div class="columns">
            <div class="column is-6 hero-content--left">
              <h1 class="title is-2 is-spaced">
                Hi There, Welcome to {% endraw %}{{ cookiecutter.project_name }}{% raw %}
              </h1>

              <p class="subtitle is-6">
                {% lorem %}
              </p>

              <a class="button is-medium is-link">
                Learn more
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="hero-foot">
    <p class="has-text-centered margin-top--xs margin-bottom--xxxl margin-l-r--xxxl">
      {% lorem %}
    </p>
  </div>
</div>
{% endblock %}
{% endraw %}