@import url('https://fonts.googleapis.com/css?family=Open+Sans');
$font: 'Open Sans', sans-serif;

$transparent: rgba(0,0,0,0) !important;
$white: #ffffff !important;
$ltGray: #f3f3f3 !important;
$medGray: #9a9a9a !important;
$darkGray: #333333 !important;
$headerGray: rgb(39, 40, 41);

$ltGrn: #83B952 !important;
$grn: #65a827 !important;
$darkGrn: #4c8723 !important;

$ltBlue: #62C8EB;
$mmfBlue: #2ca9ff !important;
$darkBlue: #2190b8 !important;

$ltPink: rgb(224, 180, 180) !important;
$pink: #9F3A38 !important;
$red: #7f0000 !important;
//----------------------------- Mixins --------------------------------
@mixin push-auto{
  margin: {
    left: auto !important;
    right: auto !important;
  }
}

@mixin btn-bord($color){
  color: $color;
  border: 1px solid $color;
  background-color: $white;

  &:hover {
    box-shadow:linear-gradient( rgba(0, 0, 0, 0.1),  rgba(0, 0, 0, 0.1) ) $color;
  }
}

@mixin btn-bck($color) {
  color: $white;
  background-color: $color;

  &:hover {
    background: linear-gradient( rgba(0, 0, 0, 0.05),  rgba(0, 0, 0, 0.05) ) $color;
  }
}

@mixin end-application($color, $background){
  color: $white;
  border: 0.15em solid $color;
  background-color: $background;

  &:hover {
    color: $white;
    background-color: $color;

    -moz-box-shadow: inset 1px 5px 18px rgba(38, 38, 38, 0.15) !important;
    -webkit-box-shadow: inset 1px 5px 18px rgba(38, 38, 38, 0.15) !important;
    box-shadow: inset 61px 45px 18px rgba(38, 38, 38, 0.15) !important;
  }
}
//----------------------------- Initializing colours --------------------------------
.lt-grn{ color: $ltGrn; }
.grn{ color: $grn; }
.dark-grn{ color: $darkGrn; }

.lt-blue{ color: $ltBlue; }
.mmf-blue{ color: $mmfBlue; }
.dark-blue{ color: $darkBlue; }

.background-white{ background-color: $white; }
.lt-gray{ background-color: $ltGray }
.med-gray{ background-color: $medGray; }
.dark-gray{ background-color: $darkGray; }
.header-gray{ background-color: $headerGray; }

.grn-bord{ @include btn-bord($grn); }
.grn-bck{ @include btn-bck($grn); }

.blue-bord { @include btn-bord($mmfBlue); }
.blue-bck{ @include btn-bck($mmfBlue); }

.cancel-application{ @include end-application($medGray, $transparent); }
.confirm-application{ @include end-application($grn, $grn); }

//----------------------------------------- Body -----------------------------------------
body {
  margin: 0;
  min-height: 100%;
  height: auto;

  display: flex;
  flex-direction: column;
  position: relative;

  font-family: $font;

  color: $darkGray;
  background-color: #efefef;
}
//-------------------------------------- Header ------------------------------------------
header{
  margin: 0 auto;
  padding: 1em;
  width: 100%;
  height: auto;

  background-color: rgb(39, 40, 41);

  h1{
    margin-top: 0 !important;
    text-transform: uppercase !important;
  }

  .sub{
    text-transform: none !important;
  }
}
//--------------------------------------- Nav -------------------------------------------
nav{
  .ui.menu{
    margin: 0;

    border:0;
    border-radius: 0;
    background-color: $darkGray ;

    .ui.link.item{
      color: $white;
      border-bottom: 0.05em solid transparent;
      border-radius: 0 !important;

      &:before{
        width: 0;
      }

      &:hover{
        border-bottom-color: #fff;
      }
    }

    #apply, #find{
      position: relative;
      &:after {
        margin-top: -15px;
        height: 0;
        width: 0;

        position: absolute;
        left: 100%;
        top: 31.1%;

        border: solid transparent;
        border-width: 24px 0 24px 15px;

        content: " ";
        pointer-events: none;
        z-index: 20;
      }
    }

    .grn-bck{
      background-color: $ltGrn;
      &:after{
        border-left-color: $ltGrn;
      }
    }

    .gry-bck{
      background-color: $darkGray;
      &:after{
        border-left-color: $darkGray;
      }
    }
  }
}
//----------------------------- Wrapper --------------------------------
#wrapper{
  margin-bottom:0;
  padding-top: 2em;
  flex-grow: 2;

  background-size: cover;
  background-attachment: fixed;

  .ui.container{
   padding-bottom: 2em;
  }
}
//----------------------------- Footer --------------------------------
footer{
  margin-bottom: 0;
  padding: 0.5em;
  min-height: 6em;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #1B1C1D;

  img{
    margin-right: 1em;
  }

  .ui.list .item{
    padding: 0 1em 0 0.5em;

    color: $white;
    border-right: 0.05em solid #8e8e8e;

    &:last-child{
      border: 0;
    }

    &:hover{
      color: $medGray;
    }
  }

  .ui.inverted.divider{
    display: none;
  }
}
//----------------------------- IE 10/11 fix  --------------------------------
@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
  html{
    display: flex;
    flex-direction: column;
  }
  body{
    flex: 1 0 auto;
  }
}


// ------------- Tablet Styling ONLY  ---------
@media only screen and (min-device-width: 762px)and (max-device-width: 852px) {

}

// ------------- Tablet <  ---------
@media only screen and (min-device-width: 762px){
  #mob_nav{
    display: none;
  }
}
//------- large screen -------------
@media only screen and (min-width : 1824px) {

}

#facebook{
  margin-bottom: 0.5em;

  color: $white;
  background-color: #3B5998;

  i{
    opacity: 0.9;
  }

  &:hover{
    background-color: #3c4e8e;
    i{
      opacity: 1;
    }
  }
}
#google{
  color: $white;
  background-color: #d34836;

  i{
    opacity: 0.9;
  }

  &:hover{
    background-color: #c64735;
    i{
      opacity: 1;
    }
  }
}
