{% raw -%}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title> {% block head_title %}{% endblock %} - {% endraw %}{{ cookiecutter.project_name }}{% raw %}</title>
{% if settings.GTM_ID %}
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','{{ settings.GTM_ID }}');</script>
<!-- End Google Tag Manager -->
{% endif %}

  <script defer src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
  <script defer src="{% static 'js/base.js' %}" ></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0=" crossorigin="anonymous" />
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <link rel="stylesheet"  href="{% static 'css/base.css' %}" />

  {% block app_styles %}{% endblock %}
  {% block specific_styles %}{% endblock %}

</head>
<body>
  {% if settings.GTM_ID %}
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ settings.GTM_ID }}"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  {% endif %}

    {% block app_js %}{% endblock %}
    {% block specific_js %}{% endblock %}

  <section class="is-default is-bold">
    {% block menu %}
      <nav class="navbar">
        <!-- Mobile -->
        <div class="navbar-brand">
          <a class="navbar-item" href="../">
            <img src="" alt="Logo">
          </a>

          <div class="navbar-burger burger" data-target="navMenuExample">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>
        <!-- desktop -->
        <div class="navbar-menu">
          <div class="navbar-start">
            <a class="navbar-item {% if page.url == '/' %}is-active{% endif %}" href="/">
              Home
            </a>
            <a class="navbar-item">
              Examples
            </a>
            <a class="navbar-item">
              Features
            </a>
            <a class="navbar-item">
              Team
            </a>
          </div>

          <div class="navbar-ed">
{%- endraw %}{% if cookiecutter.install_allauth == "y" %}{% raw %}
            {% if request.user.is_authenticated %}
              <a href="{% url 'profile:edit' %}" class="navbar-item">Profile</a>
              <a class="navbar-item"  href="{% url 'account_logout' %}">
                Logout
              </a>
            {% else %}
                <a class="navbar-item"  href="{% url 'account_login' %}">
                Login
                </a>
            {% endif %}
{%- endraw %}{% endif %}{% raw %}
          </div>
        </div>
       </nav>
    {% endblock %}

    {% block header %}
    {% endblock %}


    {% if messages %}
      <div class="message-box">
        {% for message in messages %}
          <article class="message is-info transition">
            <div class="message-header">
              <p>Message:</p>
              <button class="delete" aria-label="delete"></button>
            </div>

            <p class="message-body">
              {{ message }}
            </p>
          </article>
      {% endfor %}
      </div>
    {% endif %}

    {% block content_wrapper %}
      <section class="section">
        <div class="container content">
            {% block content %}{% endblock %}
        </div>
      </section>
    {% endblock %}

    {% block content_full_width %}{% endblock %}


  {% block footer %}
  {% endblock %}
</section>

  {% block before_end_body %}
  {% endblock %}

  {% if settings.DEBUG %}
  <script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>
  {% endif %}
</body>


</html>
{% endraw %}
