{% raw %}{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> - </title>
{% if settings.GTM_ID %}
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','{{ settings.GTM_ID }}');</script>
<!-- End Google Tag Manager -->
{% endif %}

  <script defer src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
  <script defer src="{% static 'js/base.js' %}" ></script>
  <link rel="stylesheet"  href="{% static 'css/base.css' %}" />

  {% block app_styles %}{% endblock %}
  {% block specific_styles %}{% endblock %}

</head>
<body>
  {% if settings.GTM_ID %}
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ settings.GTM_ID }}"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  {% endif %}

    {% block app_js %}{% endblock %}
    {% block specific_js %}{% endblock %}

    {% block menu %}
      <nav class="nav has-shadow" id="top">
        <div class="container">
          <div class="nav-left">
            <a class="nav-item" href="{% url 'home_app:home-page' %}">
              <img src="" alt="Description">
            </a>
          </div>
          <span class="nav-toggle">
            <span></span>
            <span></span>
            <span></span>
          </span>
          <div class="nav-right nav-menu">
            <a class="nav-item is-tab is-active">
              Home
            </a>
            <a class="nav-item is-tab">
              Features
            </a>
            <a class="nav-item is-tab">
              Team
            </a>
            <a class="nav-item is-tab">
              Help
            </a>
            <span class="nav-item">
              <a class="button">
                Log in
              </a>
              <a class="button is-info">
                Sign up
              </a>
            </span>
          </div>
        </div>
      </nav>
    {% endblock %}

    {% block header %}
    {% endblock %}


    {% if messages %}
      <div class="message-box">
        {% for message in messages %}
          <div class="ui message info transition">
            <i class="close icon"></i>
            <div class="header">Message:</div>
            <p>{{ message }}</p>
          </div>
      {% endfor %}
      </div>
    {% endif %}


      <section class="section">
    <div class="container content">
  {% block content %}




  {% endblock %}
    </div>
  </section>


  {% block footer %}
  {% endblock %}


  {% block before_end_body %}
  {% endblock %}

  {% if settings.DEBUG %}
  <script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>
  {% endif %}
</body>


</html>
{% endraw %}
