{% raw -%}
{% extends 'base.html' %}
{% load static %}
{% block header_title %}{% endblock %}
{% block content_wrapper %}{% endblock %}

{% block content_full_width %}
<div class="hero is-success is-bold page-is-generic">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-centered margin-all--xxl">
        <div class="column is-3"></div>

        <div class="column is-6 has-text-right">
          <h1 class="title is-2 is-spaced">Lorem ipsum dolor sit amet.</h1>

          <p class="subtitle is-6">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Animi cumque distinctio, earum hic placeat ratione vero. Aliquam!
          </p>

          <a href="#" class="button is-medium is-link margin-all--l padding-l-r--xxxl">Lorem Ipsum</a>
        </div>

      </div>
    </div>
  </div>
</div>

<section class="columns is-centered margin-t-b--biggest-rem">
  <div class="column is-2 margin-left--l">
  <nav class="panel ">
    <p class="panel-heading is-radiusless">
      Lorem Ipsum
    </p>
    <div class="panel-block">
      <p class="control has-icons-left">
        <input class="input is-small" type="text" placeholder="search">
        <span class="icon is-small is-left">
          <i class="fa fa-search"></i>
        </span>
      </p>
    </div>
    <p class="panel-tabs">
      <a >Frose</a>
      <a>Lorem</a>
      <a class="is-active">Ipsum</a>
      <a>Dolor</a>
    </p>
    <a class="panel-block is-active">
      <span class="panel-icon">
        <i class="fa fa-book"></i>
      </span>
      Frose
    </a>
    <a class="panel-block">
      <span class="panel-icon">
        <i class="fa fa-book"></i>
      </span>
      Lorem
    </a>
    <a class="panel-block">
      <span class="panel-icon">
        <i class="fa fa-book"></i>
      </span>
      consectetur minima
    </a>
    <a class="panel-block">
      <span class="panel-icon">
        <i class="fa fa-book"></i>
      </span>
      Frose Lred
    </a>
    <a class="panel-block">
      <span class="panel-icon">
        <i class="fa fa-code-fork"></i>
      </span>
      Lorem/Dreg
    </a>
    <div class="panel-block">
      <button class="button is-link is-outlined is-fullwidth">
        Lorem ipsum dolor
      </button>
    </div>
  </nav>
</div>

  <div class="column  is-8 padding-left--xxxs padding-right--xxxl margin-bottom--xxxl">
    <h5 class="title is-2 is-spaced">Lorem ipsum.</h5>
    <p class="subtitle is-5">Accusantium dolores ea eos necessitatibus porro reprehenderit tempora vero? Consectetur inventore non officiis voluptate voluptatem.</p>
    <hr>
    <div class="content">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid asperiores consectetur cumque dolorem ducimus
        expedita hic ipsum iure, maxime nam natus non nostrum odio pariatur perferendis provident quaerat quis recusandae
        repellendus
      </p>

      <p>
        A ad alias architecto asperiores assumenda autem corporis cupiditate doloremque doloribus eos est ex fugiat
        incidunt inventore minima molestiae natus nobis obcaecati odio omnis perspiciatis placeat porro praesentium
        provident quas qui quia quidem quisquam.
      </p>

      <p>
        Cum fuga harum labore libero quis rem repellendus sunt unde voluptatibus voluptatum. Aliquid assumenda cum odio
        omnis placeat quos recusandae reiciendis sequi totam, voluptatem? Aperiam debitis deserunt dignissimos dolore minus.
      </p>
    </div>
  </div>
</section>

<div class="hero is-dark is-bold page-is-generic margin-t-b--biggest-rem">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-8 has-text-centered">
          <h3 class="title is-4 is-spaced">Lorem ipsum dolor sit amet.</h3>

          <p class="subtitle is-6">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Animi cumque distinctio, earum hic placeat ratione vero. Aliquam!
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<section class="section">
  <div class="columns is-centered is-multiline">
    <div class="column is-10 has-text-centered">
      <p class="title is-4">
        <i class="fa fa-cog fa-2x has-text-primary" aria-hidden="true"></i>
        <i class="fa fa-cog fa-5x has-text-primary" aria-hidden="true"></i>
        <i class="fa fa-cog fa-3x has-text-primary" aria-hidden="true"></i>
      </p>
      <p class="subtitle is-5">Lorem ipsum dolor.</p>
    </div>
  </div>
</section>

<section class="section">
  <div class="columns is-centered is-variable">
    <div class="column is-10">
      <div class="columns is-variable is-8">
        <div class="column">
      <article class="card">
        <div class="card-image">
          <figure class="image is-2by1">
            <img src="https://bulma.io/images/placeholders/640x320.png" alt="Placeholder image">
          </figure>
        </div>

        <div class="card-header">
          <h4 class="card-header-title is-4">Lorem ipsum.</h4>
        </div>

        <div class="card-content">
          <div class="content">
            <p class="title is-5"><b>Aspernatur atque sit explicab.</b></p>
            <p>Aspernatur atque explicabo fuga nisi rerum veritatis! Dolore error voluptatum?</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam nemo pariatur perspiciatis. Minima.</p>
          </div>
        </div>

        <div class="card-footer">
          <div class="card-footer-item">
            <a class="is-link">Lorem Ipsum.</a>
          </div>
        </div>
      </article>
    </div>
        <div class="column">
      <article class="card">
        <div class="card-image">
          <figure class="image is-2by1">
            <img src="https://bulma.io/images/placeholders/640x320.png" alt="Placeholder image">
          </figure>
        </div>

        <div class="card-header">
          <h4 class="card-header-title is-4">Lorem ipsum.</h4>
        </div>

        <div class="card-content">
          <div class="content">
            <p class="title is-5"><b>Aspernatur atque sit explicab.</b></p>
            <p>Aspernatur atque explicabo fuga nisi rerum veritatis! Dolore error voluptatum?</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam nemo pariatur perspiciatis. Minima.</p>
          </div>
        </div>

        <div class="card-footer">
          <div class="card-footer-item">
            <a class="is-link">Lorem Ipsum.</a>
          </div>
        </div>
      </article>
    </div>
        <div class="column">
      <article class="card">
        <div class="card-image">
          <figure class="image is-2by1">
            <img src="https://bulma.io/images/placeholders/640x320.png" alt="Placeholder image">
          </figure>
        </div>

        <div class="card-header">
          <h4 class="card-header-title is-4">Lorem ipsum.</h4>
        </div>

        <div class="card-content">
          <div class="content">
            <p class="title is-5"><b>Aspernatur atque sit explicab.</b></p>
            <p>Aspernatur atque explicabo fuga nisi rerum veritatis! Dolore error voluptatum?</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam nemo pariatur perspiciatis. Minima.</p>
          </div>
        </div>

        <div class="card-footer">
          <div class="card-footer-item">
            <a class="is-link">Lorem Ipsum.</a>
          </div>
        </div>
      </article>
    </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
{% endraw %}