{% raw %}{% extends 'base.html' %}
{% load static %}

{% block content %}
<p class="has-text-centered">This is the home page</p>

    <div class="columns has-text-centered">
     <div class="column">asddsasda</div>
     <div class="column">asddsasda</div>
     <div class="column">asddsasda</div>
    </div>


    <section class="hero is-fullheight is-primary">
  <div class="hero-head">
    <div class="container">
      <div class="tabs is-centered">
        <ul>
          <li><a>This is always at the top</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="hero-body">
    <div class="container has-text-centered">
      <h3 class="title is-2">
        <a href="http://bulma.io/documentation/layout/hero/">
          <span class="icon is-medium">
            <i class="fa fa-arrows-v"></i>
          </span>
          Easy <strong>vertical centering</strong> in <strong>fullscreen</strong>
        </a>
      </h3>
      <h4 class="subtitle is-4">Include any content you want, it's always centered</h4>
    </div>
  </div>

  <div class="hero-foot">
    <div class="container">
      <div class="tabs is-centered">
        <ul>
          <li><a>And this at the bottom</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>

{% endblock %}{% endraw %}